/* Your app custom styles here */
.center-login {
    margin-top: 10%;
}

.card.color-card {
    background-color: #0077B6;
    color: white;
}

.card-footer {
    background-color: white;
}

li.btn-register {
    margin-top: 5%
}

.equipements-container {
    display: inline-block;
    white-space: pre;
    word-break: break-word;
    max-width: 100%;
}

.equipements-wrapper {
    overflow: hidden;
    word-break: break-word;
}

.equipements-container {
    white-space: pre;
    overflow: auto;
}

