@use "work";
@use "invoice_file";
@use "calendar";
@use "input_color";
@use "form_calendar";
@use "input_calendar_product_invoice";
@use "product_invoice";
@use "components/button.scss";
@use "login.scss";

.center-login {
    margin-top: 5%;
}

li.btn-register {
    margin-top: 5%
}

.equipements-container {
    display: inline-block;
    white-space: pre;
    word-break: break-word;
    max-width: 100%;
    overflow: auto;
}

.equipements-wrapper {
    overflow: hidden;
    word-break: break-word;
}

.input-error {
    border: 2px solid #ff3860;
    border-radius: 4px;
    box-shadow: 0 0 5px #ff3860;
}


.tabbar {
    z-index: 1;
}

.page-content {
    overflow-y: auto;
    max-height: calc(100vh - 60px);
    padding-bottom: 60px
}
