@use "work";
@use "invoice_file";
@use "calendar";
@use "input_color";
@use "form_calendar";
@use "input_calendar_product_invoice";
@use "product_invoice";
@use "components/button.scss";
@use "components/pagination.scss";
@use "components/input.scss";
@use "login.scss";
@use "client.scss";

.ios .color-red,
.ios.color-red,
.ios .dark .color-red,
.ios.dark.color-red {
  --f7-theme-color: #d70015;
  --f7-theme-color-rgb: 215, 0, 21;
  --f7-theme-color-shade: #b40011;
  --f7-theme-color-tint: #ff3b47;
}


.input-error {
  border: 2px solid #ff3860;
  border-radius: 4px;
  box-shadow: 0 0 5px #ff3860;
}

.tabbar {
  z-index: 1;
}

.page-content {
  overflow-y: auto;
  max-height: calc(100vh - 60px);
  padding-bottom: 60px;
}
