.information-product-invoice {
    margin: 2% auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.table-product-invoice {
    display: flex;
    align-items: center;
}